name: Deploy Helm Chart
permissions: read-all

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      image_digest:
        required: true
        type: string

jobs:
  helm_deploy:
      name: Deploy helm chart
      environment: ${{ inputs.environment }}
      runs-on: ubuntu-latest
      steps:
      - name: Check out the repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install SSH key
        uses: shimataro/ssh-key-action@d4fffb50872869abe2d9a9098a6d9c5aa7d16be4 # v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          name: id_ed25519 # optional
          known_hosts: ${{ secrets.SSH_KNOWN_HOSTS }}
          if_key_exists: fail # replace / ignore / fail; optional (defaults to fail)

      - name: Setup NYC Mesh VPN
        uses: nycmeshnet/nycmesh-vpn-action@main
        with:
          config-name: "ghbuilding"
          private-key: ${{ secrets.WIREGUARD_PRIVATE_KEY }}

      - name: Install Helm Chart
        run: |
          scp ${{ secrets.SSH_USER }}@${{ secrets.SSH_TARGET_IP }}:~/.kube/config ./
          helm upgrade \
            building \
            helm \
            --install \
            --kubeconfig ./config \
            --kube-apiserver https://${{ secrets.SSH_TARGET_IP }}:6443 \
            -n building \
            --create-namespace \
            -f ./helm/values.yaml \
            --set building.fqdn="${{ vars.FQDN }}" \
            --set building.secretKey="${{ secrets.SECRET_KEY }}" \
            --set image.digest="${{ inputs.image_digest }}" \
            --set imageCredentials.username="${{ secrets.PULL_SECRET_USERNAME }}" \
            --set imageCredentials.password="${{ secrets.PULL_SECRET_PASSWORD }}" \
            --set imageCredentials.email="${{ secrets.PULL_SECRET_EMAIL }}" \
            --set building.meshdb_api_key="${{ secrets.MESHDB_API_KEY }}" \
            --set building.uisp_api_key="${{ secrets.UISP_API_KEY }}" \
            --set building.stripe_api_key="${{ secrets.STRIPE_API_KEY }}" \
            --set building.ninja_api_key="${{ secrets.NINJA_API_KEY }}" \
            --set building.oidc_rp_client_id="${{ secrets.OIDC_RP_CLIENT_ID }}" \
            --set building.oidc_rp_client_secret="${{ secrets.OIDC_RP_CLIENT_SECRET }}" \
            --set building.google_sheet_csv_url="${{ secrets.GOOGLE_SHEET_CSV_URL }}"
            
